// ABOUT :: START

section#about.about
  .c-grid

    h1.about__title.title!= "About Us"

    .about__block
      .about__block-left
        p.about__block-title!= "Our Company"
        p.about__block-text!= "We are building the largest digital network in Myanmar, offering the greatest value and international standard service to deliver a live and up to date market place for Cars, Autos, Motors, Property, Real Estate, Job and Career opportunities, including the latest prices and salary levels."

        img(
          srcset="./img/img-about-bg-0.png, ./img/img-about-bg-0@2x.png 2x"
          alt="" title=""
         )

      .about__block-right
        p.about__block-title!= "Our Purpose"
        p.about__block-text!= "To create the largest online market to find thousand of cars, houses, condos, apartments, land for sale and for rent, jobs and employers on our site. With a comprehensive database of entries all over Myanmar, including in Yangon, Mandalay, Taung gyi, NayPyiTaw, and many other states and provinces."

        img(
          srcset="./img/img-about-bg-1.png, ./img/img-about-bg-1@2x.png 2x"
          alt="" title=""
        )

// ABOUT :: END