// MAIN :: START

section#main.main
  .c-grid

    .main__block

      if(contentClassName === "jobs")
        p.main__block-title!= "We look for the best talent to grow together"
        p.main__block-text!= "We are building the largest digital network in Myanmar, offering the greatest value and international standard service to deliver a live and up to date market place for Cars, Autos, Motors, Property, Real Estate, Job and Career opportunities, including the latest prices and salary levels."

        a.main__btn.btn.anchor-js(
          href="#table"
          title="" class=""
        )!= "Open Positios"

      else if (contentClassName === "home")
        p.main__block-title!= "<span>A leading player</span> in Myanmar online classifieds industry"
        p.main__block-text!= "MMOne Online Group is leading provider of digital classifieds in Myanmar, operated across property and employment verticals and provided to consumers and local partners in Myanmar through three primary brands: <a href='https://www.jobnet.com.mm/' target='_blank'>JobNet.com.mm</a>, <a href='https://www.shweproperty.com/' target='_blank'>ShweProperty.com</a> and <a href='https://www.myanmaremployerawards.com/' target='_blank'>MyanmarEmployerAwards.com.</a>"

        a.main__btn.btn.anchor-js(
          href="#about"
          title="" class=""
        )!= "About Us"


    .main__info
      .main__info-extra
        .main__info-box.main__info-box-0(data-hover="0")
          img(
            srcset="./img/img-showProperty-logo.png, ./img/img-showProperty-logo@2x.png 2x"
            alt="" title=""
           )
        .main__info-box.main__info-box-1(data-hover="1")
          img(
            srcset="./img/img-jobNet-logo.png, ./img/img-jobNet-logo@2x.png 2x"
            alt="" title=""
          )
        .main__info-box.main__info-box-2(data-hover="2")
          img(
            srcset="./img/img-mea-logo.png, ./img/img-mea-logo@2x.png 2x"
            alt="" title=""
            height="53px"
          )

      .main__info-wrap
        a(href="https://www.shweproperty.com/" target="_blank").main__info-block.main__info-block-0
          .main__info-cover
            .main__info-img
              img(
                srcset="./img/sp_logo.png"
                alt="" title=""
               )
            p.main__info-title!= "ShweProperty.com"
            .main__info-text
              p!= "Lorem ipsum dolor sit amet, consectetur adipiscing eltit, sed do eiusmod tempor."

            i.icon-png.bkng_arrow


        a(href="https://www.jobnet.com.mm/" target="_blank").main__info-block.main__info-block-1
          .main__info-cover
            .main__info-img
              img(
                srcset="./img/jn_logo.png"
                alt="" title=""
              )
            p.main__info-title!= "JobNet.com.mm"
            .main__info-text
              p!= "Lorem ipsum dolor sit amet, consectetur adipiscing eltit, sed do eiusmod tempor."

            i.icon-png.bkng_arrow


        a(href="https://www.myanmaremployerawards.com/" target="_blank").main__info-block.main__info-block-2
          .main__info-cover
            .main__info-img
              img(
                srcset="./img/mea_logo.png"
                alt="" title=""
              )
            p.main__info-title!= "MyanmarEmployerAwards.com"
            .main__info-text
              p!= "Lorem ipsum dolor sit amet, consectetur adipiscing eltit, sed do eiusmod tempor."

            i.icon-png.bkng_arrow

// MAIN :: END