// LANG :: START

.lang
  i.lang__icon.icon-png.i-lang

  .lang__link-wrap
    a.lang__link.lang__link-0.is-active(
      href="#"
      title="" class=""
      lang-js
    )!= "en"

    span!= "/"

    a.lang__link.lang__link-1(
      href="#"
      title="" class=""
      lang-js
    )!= "mm"


// LANG :: END